<h1>Add a hotel</h1>

<div class="row">
    <form action="/hotels/add" enctype="multipart/form-data" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="hotelName" name="hotelName">
                <label for="hotelName">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="address" name="hotelAddress">
                <label for="address">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="city" name="hotelCity">
                <label for="city">City</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="state" name="hotelState">
                <label for="state">State/Province</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                {{> countries}}
                
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="price" id="price">
                    <option value="" disabled selected>Price Range</option>
                    <option value="$">$</option>
                    <option value="$$">$$</option>
                    <option value="$$$">$$$</option>
                    <option value="$$$$">$$$$</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="pool" id="pool">
                    <option value="" disabled selected>Does it have a pool?</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        


        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>

        

    </form>
</div>