<section class="hotelTitle">
    <h1>{{hotelName}}</h1>
    <div class="">
    <a href="/hotels/addToList/{{_id}}" class="btn waves-effect waves-light addToListbutton" type="submit" name="action">Add to your list.
    <i class="material-icons right"></i>
    </a>
</div>
</section>

{{#each image}}

<img src="{{this}}" alt="" class="">
{{/each}}



