<h1>Dashboard</h1>
{{#if hotels}}
    {{#each hotels}}
        <div class="container">
            {{hotelName}}
        </div>
    {{/each}}

{{else}}
<p>No hotels are selected.</p>

{{/if}}

<form action="/compare" method="GET" id="compareHotels">
    <button type="submit" class="btn red">
        Compare Hotels
    </button>
</form>