<h1>Dashboard</h1>
{{#if hotels}}
<form action="/compare"  method="GET" id="compareHotels">
    
    {{#each hotels}}
        <div class="container">
            
            <label>
                <input type="checkbox" class="checkbox"  id="{{_id}}">
                <span>{{hotelName}}</span>
            </label>
            
            
        </div>
    {{/each}}
    <button type="submit" class="btn red" id="compareButton">
        Compare Hotels
    </button>
</form>    
{{else}}
<p>No hotels are selected.</p>

{{/if}}


