<h1>List of Hotels</h1>
{{#if hotels}}
    {{#each hotels}}
        <div class="container">
            <table>
                <tr>
                    {{hotelName}}
                    <a href="/hotels/addToList/{{_id}}">
                    <i class="fas fa-plus"></i>
                    </a>
                    <form action="/hotels/{{_id}}?_method=DELETE" method="POST" id="delete-form" >
                    <button type="submit" class="btn red">
                    <i class="fas fa-trash"></i>
                    </button>
                    </form>
                </tr>
            </table>
            
        </div>
    {{/each}}

{{else}}
<p>There are no hotels.</p>

{{/if}}