


<h3>Compare Hotels</h3>
<div class="login">
    <a href="/auth/google" class="btn red darken-1" id="login">
        Log In With Google
    </a>
    {{!-- <i class="fab fa-google"></i>Log In With Google</a> --}}
</div>


<div class="intro">
        <p>Designed to make it easier for you to choose which hotel to stay at in Las Vegas!</p>
</div>







