.login-container {
    text-align: left;
    margin-left: 2rem;
}

.split {
    height: 100%;
    width: 50%;
}

.hotelImg {
    width: 20%;
}

#login {
    border-radius: 30px;
}

.login-container {
    color: white;
    height: 768px;
    width: 100%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    background-image: url("../images/welcomeToVegas1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.intro {
   padding-left: 5%;
}