.login-container {
    text-align: left;
    margin-left: 2rem;
}

.split {
    height: 100%;
    width: 50%;
}

.hotelListImg {
    width: 20%;
}

.hotelCompareImage {
    width: 75%;
}

#login {
    border-radius: 30px;
}

.loginImage {
    width: 50%;
}
/* .login-container {
    color: white;
    height: 768px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/welcomeToVegas1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
} */

.intro {
   padding-left: 5%;
}

.title {
    display: block;
    font-weight: bold;
    width: fit-content;
    font-size: 2rem;
    font-family: 'Noto Sans KR';
    color: black;
}
.hotelIcon {
    display: flex;
}

img {
    width: 75%;
}



.addHotel {
    border-radius: 30px;
}
.addToListbutton {
    background-color: hsl(130, 41%, 57%);
    border-radius: 30px;
}
.hotelTitle {
    margin-bottom: 1rem;
}